@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-primary: #3b82f6;
  --color-secondary: #8b5cf6;

  /* Custom breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /* Custom fonts */
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;

  /* Custom spacing */
  --spacing-18: 4.5rem;
  --spacing-72: 18rem;
}

/* ======================================================================== */
/* Button Styles */
/* ======================================================================== */
@utility btn-primary {
  @apply bg-primary text-white px-4 py-2 rounded-lg;
}

/* ======================================================================== */
/* Lightbox Container Customization */
/* ======================================================================== */
/* Larger Navigation buttons click area */
.lightbox-container .yarl__navigation_prev,
.lightbox-container .yarl__navigation_next {
  width: 70px !important;
  height: 100% !important;
  padding: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Larger icon Lightbox for navigation buttons */
.lightbox-container .yarl__navigation_prev .yarl__icon,
.lightbox-container .yarl__navigation_next .yarl__icon {
  width: 64px !important;
  height: 64px !important;
}


/* Mobile Mode Lightbox Style*/
@media (max-width: 768px) {
  .lightbox-container .yarl__navigation_prev,
  .lightbox-container .yarl__navigation_next {
    width: 50px !important;
  }

  .lightbox-container .yarl__navigation_prev:hover,
  .lightbox-container .yarl__navigation_next:hover {
    width: 55px !important;
  }

  .lightbox-container .yarl__navigation_prev .yarl__icon,
  .lightbox-container .yarl__navigation_next .yarl__icon {
    width: 36px !important;
    height: 36px !important;
  }
}